body {
    background-image: url("../Images/bg-00-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    height: 100vh;
}

.wrap {
    margin: 0 auto;
}

.max-960 {
    max-width: 960px;
}

.color {
    padding-top: 80px;
    padding-bottom: 100px;
}

.card {
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}

.card-all {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: table;
    border:0px;
}

.card-all .card-heading {
    width: 35%;
    display: table-cell;
    background: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-all .card-box-logo {
    width: 65%;
    display: table-cell;
    vertical-align:middle;
    text-align: center;
}

.card-all .card-body {
    display: table-cell;
    padding: 80px 80px;
    background-color: #fff;
}

.input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-family: FontAwesome;
}

.input-group {
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid #e5e5e5;
}

.input--style-2 {
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mini-logo {
     display: none;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

button {
    background: -webkit-linear-gradient(left, #3c8dbc, #2ca2ca, #10c6e1, #00daee);
    color: #ffffff;
    border: none;
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 23px;
}

button:hover {
    background: #2ca2ca;
}

h6 {
    font-size: 12px;
    margin-top: 15px; 
}

h5 {
    font-size: 15px;
    margin-top: 15px; 
}

@media (max-width: 980px) {
    body {
      background-image: url("../Images/bg-00-01.png");
      background-size: cover;
    }

    .max-960 {
    max-width: 960px;
    margin:20px;
  }
}

@media (max-width: 767px) {
    body {
      background-image: url("../Images/bg-00-01.png");
      background-size: cover;
    }

    .lg-logo {
      display: none;
    }

    .mini-logo {
      max-width: 200px;
      display: block;
    }

    .max-960 {
      max-width: 960px;
      margin:20px;
    }

    .card-all {
      display: block;
      vertical-align: middle;
    }

    .card-all .card-heading {
      width: 100%;
      display: block;
      vertical-align: middle;
      margin-top: 0 auto;
    }

    .card-all .card-body {
      display: block;
      padding: 60px 50px;
    }

    .color{
      padding-top: 0px;
      padding-bottom: 0px;
    }
}