<section class="content-header"><h1>List Of @ViewBag.Title</h1></section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="pull-left"><p>@Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary btn-outline btn-sm" })</p></div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_index" class="table table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
</script>