@{ 
    var url = Request.RawUrl;
    var menus = SharedExtensions.getMenus();
}

<ul class="sidebar-menu" data-widget="tree">
    @{
        if (menus.Any())
        {
            <li class="header"><h5>MENU</h5></li>
            foreach (var m in menus)
            {
                <li class="@Html.isActive(m)">
                    <a href="@Url.Action("Index", @m)"><i class="fa fa-circle"></i> @m</a>
                </li>                
            }
        }
    }
</ul>